@model Web.Models.BillTypeFormModel
@{
    ViewBag.Title = "Создание типа квитанции";
}
<div class="container">

    <div class="page-header">
        <h2>Создание типа квитанции</h2>
    </div>
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Квитанции", "Index", "Home")</li>
        <li>@Html.ActionLink("Типы квитанций", "Index", "BillType")</li>
        <li class="active">Создание типа квитанции</li>
    </ol>
    <div class="row">

        @using (Html.BeginForm())
        {
            @Html.Partial("_AddOrEdit", Model)
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
