
@{
    ViewBag.Title = "AjaxTest";
}

<h2>AjaxTest</h2>
<button id="sendAjax">Send</button>
<script type="text/javascript">
    $('document').ready(function () {
        $("#sendAjax").click(function () {
            var billtype = { Id: '1', TypeName: 'Sample' };
            $.ajax({
                type: 'POST',
                url: '/Home/AjaxPost',
                data: JSON.stringify(billtype),
                datatype: 'json',
                contentType: 'application/json, charset=utf-8',
                success: function(data) {
                    alert(data.msg);
                },
                error: function() {
                    alert('Fuck! Error!');
                }
            });
        });
    });
</script>
